@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Vidaloka);
.abril {
  font-family: "Abril Fatface", serif; }

.oswald {
  font-family: "Oswald", sans-serif; }

.vida {
  font-family: "Vidaloka", serif; }

.striped-section {
  background-color: #fbf7f0; }

footer {
  font-size: .7em; }

.container {
  padding-right: 0;
  /*15px in bootstrap.css*/
  padding-left: 0;
  /*idem*/
  margin-right: auto;
  margin-left: auto; }

#search {
  color: #070707; }

.searchInput {
  display: none; }

.searchInput input {
  background-color: #cdc9c3; }

nav.navbar {
  background-color: #fbf7f0; }

.main-page-header {
  font-size: 4rem;
  font-family: "Abril Fatface", serif;
  background: linear-gradient(to bottom, #fff 50%, #cdc9c3 0%); }

.main-page-header-subtitle {
  font-size: 1.15rem;
  font-family: "Oswald", sans-serif; }

.card {
  width: 20rem;
  transition: transform .4s; }

.card:hover {
  transform: scale(1.025); }

div.card-text-bg {
  background-color: #fff;
  opacity: 0.7; }

div.card-text-bg p {
  margin: 5%;
  color: #070707;
  font-size: 2em;
  font-weight: bold;
  font-family: "Vidaloka", serif; }

.spacer {
  padding: 2rem;
  background-color: #fbf7f0; }

.section-title {
  font-size: 1.3em; }

.zoom {
  transition: transform .5s; }

.zoom:hover {
  transform: scale(1.03);
  opacity: .8; }

.new-release-title {
  border-bottom: 1px solid #070707; }

.article-heading {
  color: #070707; }

.article-heading:hover {
  color: #cdc9c3; }
